<html>
<head>
    <title>demo chat with socket.io</title>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</head>
<body>
<div id="wrapper" >
    <div id="loginForm">
        <div class="login-page">
            <div class="form">
                <div class="register-form">
                    <input type="text" placeholder="username" id="txtName"/>
                    <input type="password" placeholder="password" id="txtPass"/>
                    <input type="text" placeholder="email address"/>
                    <button id="btnRegister">create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </div>
                <div class="login-form">
                    <input type="text" minlength="5" placeholder="username" id="txtUsername"/>
                    <input type="password" placeholder="password" id="txtPassword"/>
                    <button id="btnLogin">login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="chatForm">
        <div id="left">
            <div id="boxTitle">User online</div>
            <div id="boxContent">
            </div>
        </div>
        <div id="right">
            <div id="sayHi"><span id="currentUser">Son</span>
                <input type="button" id="btnLogout" value="Logout"/>
            </div>
            <div id="listMessages"></div>
            <div id="notification"></div>

            <input type="text" id="txtMessage"/>
            <input type="button" id="btnSendMessage" value="Send"/>
        </div>
    </div>
</div>
</body>
</html>